{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
      <div class="jumbotron">
        <h2 class="text-center">Lorem Ipsum</h2>
        <p>Fusce cursus libero purus, sit amet vulputate leo pulvinar sit amet. Nunc dictum tempus efficitur. Nunc nisl urna, porta sit amet pretium quis, lobortis eu ipsum. Aliquam erat volutpat. Aenean pellentesque libero sit amet diam aliquam, vitae iaculis libero iaculis. Nam molestie nisl libero, placerat accumsan massa faucibus id. Donec finibus ante orci. Etiam volutpat nulla et sem tempus, non finibus diam varius. Suspendisse vitae congue sem. Curabitur sapien nisi, tempor non condimentum vel, rutrum eget urna. Nam feugiat tortor sem, at condimentum justo rhoncus at. Etiam dui quam, cursus at neque a, vestibulum lobortis lectus. Nam imperdiet maximus tortor id tincidunt. Nam porta auctor malesuada.</p>
        <p>Nulla sagittis lacus odio, et elementum felis lacinia accumsan. Suspendisse vel venenatis massa, nec cursus justo. Mauris imperdiet leo laoreet, egestas felis ac, rhoncus augue. Duis rutrum lobortis sollicitudin. Duis diam ligula, iaculis semper lectus ut, sagittis sollicitudin elit. Integer pulvinar enim nisl, et auctor sapien euismod eget. Mauris vel velit turpis. Aenean velit nisl, mattis eget sem vel, dignissim egestas odio.</p>
      </div>
{% endblock %}
